//$bgColor: #2B2122; // ORIGINAL
$bgColor: rgb(240,240,243);
$red: #7bb4fc;
$purple: #000000;

// FONTS
$dv : 'ClashDisplay-Variable';
$dsb : 'ClashDisplay-Semibold';
$dm : 'ClashDisplay-Medium';
$dl : 'ClashDisplay-Light';
$gv : 'ClashGrotesk-Variable';
